<div class="container">
  <div class="row">
    <div class="col-md-12">
      user.avatar
      <h3>This is <%= @user.name %> Page</h3>
      user.intro <br>
      edit.profile
    </div>
    <div class="col md-12">
      <br>
      user.plays <br>
      user.liked_plays <br>
    </div>
  </div>
</div>