<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>This is <%= @user.name %> Page</h3>
      <% if @user.avatar? %>
        <%= image_tag @user.avatar_url, width: '300px' %>
      <% else %>
        <img src="https://api.fnkr.net/testimg/300x300/00CED1/FFF/?text=img+placeholder"> 
      <% end %>    
      <p><%= @user.intro %></p>
      <%= link_to'Edit Profile', edit_user_path(current_user) %>
    </div>
    <div class="col md-12">
      <br>
      user.plays <br>
      user.liked_plays <br>
    </div>
  </div>
</div>